* {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #0f1923;
}

body {
  background-color: var(--background-color);
}


/*Navbbar*/
nav {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin: 10px 50px;
}

li > a{
    text-decoration: none;
    font-size: 15px;
}


li::after {
    content: '';
    width: 0rem;
    height: 0.12rem;
    background-color: #3FA2F6;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

li:hover::after {
    width: 1.5rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: -10px;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: aliceblue;
  border-radius: 2px;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
  transition: transform 0.3s ease;
}

.menu-toggle .hamburger::before {
  transform: translateY(-8px);
}

.menu-toggle .hamburger::after {
  transform: translateY(8px);
}


/*Main*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  gap: 20px;
  padding: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

h1 {
    position: relative;
    font-size: 80px;
    margin: 5% 0 0 4.5%;
    line-height: 1;

}

p {
    position: relative;
    margin: 2% 0 0 5%;
}

/*button*/
.btn {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    margin: 5%;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #3FA2F6;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .btn::before,
  .btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
  }
  
  .btn::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .btn::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
  }
  
  .btn:active::before,
  .btn:active::after {
    right: 3px;
    left: 3px;
  }
  
  .btn:active::before {
    top: 3px;
  }
  
  .btn:active::after {
    bottom: 3px;
  }
  
  .btn__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .btn__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }
  
  .btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
  }
  
  .btn__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -10px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .btn__content {
    position: relative;
  }
  
  .btn:hover {
    color: var(--button-text-color-hover);
  }
  
  .btn:hover .btn__slide {
    width: calc(100% + 15px);
  }
  
  .btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
  }
  
  .btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }
  
  #logo{
    position: absolute;
    width: 100px;
    height: auto;
    top: -8px;
  }
  /* Responsive */
@media (max-width: 360px) {
  .menu-toggle {
      display: flex;
  }

  nav {
    justify-content: space-between;
  }

  .nav-list {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: left;
      background-color: var(--background-color);
  }

  .nav-list li a {
    font-size: 20px;
}

.nav-list.active {
    display: flex;
}

.nav-list li:hover::after {
  width: 0rem;
}

.menu-toggle.hidden {
    display: none;
}

.grid-container {
    padding: 10px;
}

h1 {
  font-size: 55px;
  margin: 20px 0;
  text-align: left;
}

p {
  margin: 10px 0;
  text-align: left;
  font-size: 25px;
}

.btn {
  margin: 20px auto;
  display: block;
}
 
#logo{
  left: 80%;
  top: -20px;
}
}

.close-menu {
display: none;
position: absolute;
top: 60px;
right: -25px;
font-size: 20px;
cursor: pointer;
color: aliceblue;
}

.nav-list.active .close-menu {
  display: block;
}
